In [ ]:
import elo
import statsapi
from datetime import datetime
import pandas as pd


schedule = statsapi.schedule(start_date='03/01/2025', end_date=datetime.today().strftime("%m/%d/%Y"))
schedule = [x for x in schedule if x["game_type"] == 'R' and x["status"] == "Final"]
teams = dict()

for game in schedule:
    if game["winning_team"] not in teams:
        teams[game["winning_team"]] = elo.Rating()
    if game["losing_team"] not in teams:
        teams[game["losing_team"]] = elo.Rating()

    elo.update_elo(teams[game["winning_team"]], teams[game["losing_team"]], k=10)

data = pd.DataFrame(data={
    "Team": teams.keys(),
    "Rating": [x.get_elo() for key, x in teams.items()]
})
data

                     Team       Rating
0     Los Angeles Dodgers  1484.816066
1            Chicago Cubs  1527.107028
2        New York Yankees  1498.803633
3       Milwaukee Brewers  1707.881986
4       Baltimore Orioles  1482.606828
5       Toronto Blue Jays  1551.921273
6          Boston Red Sox  1573.748392
7           Texas Rangers  1474.434518
8   Philadelphia Phillies  1550.903797
9    Washington Nationals  1424.936665
10    Cleveland Guardians  1546.651873
11     Kansas City Royals  1519.498511
12         Houston Astros  1541.503574
13          New York Mets  1444.825783
14   San Francisco Giants  1396.748580
15        Cincinnati Reds  1520.322029
16       San Diego Padres  1592.911034
17         Atlanta Braves  1464.659151
18      Chicago White Sox  1448.477779
19     Los Angeles Angels  1484.040325
20          Miami Marlins  1519.653491
21     Pittsburgh Pirates  1442.735093
22    St. Louis Cardinals  1445.381654
23        Minnesota Twins  1455.415892
24         Detroit Tigers  1485.403889
25   Arizona Diamondbacks  1479.055302
26       Seattle Mariners  1619.026731
27              Athletics  1511.560477
28         Tampa Bay Rays  1423.289281
29       Colorado Rockies  1381.679363

In [4]:
data.sort_values("Rating", ascending=False)

                     Team       Rating
3       Milwaukee Brewers  1707.881986
26       Seattle Mariners  1619.026731
16       San Diego Padres  1592.911034
6          Boston Red Sox  1573.748392
5       Toronto Blue Jays  1551.921273
8   Philadelphia Phillies  1550.903797
10    Cleveland Guardians  1546.651873
12         Houston Astros  1541.503574
1            Chicago Cubs  1527.107028
15        Cincinnati Reds  1520.322029
20          Miami Marlins  1519.653491
11     Kansas City Royals  1519.498511
27              Athletics  1511.560477
2        New York Yankees  1498.803633
24         Detroit Tigers  1485.403889
0     Los Angeles Dodgers  1484.816066
19     Los Angeles Angels  1484.040325
4       Baltimore Orioles  1482.606828
25   Arizona Diamondbacks  1479.055302
7           Texas Rangers  1474.434518
17         Atlanta Braves  1464.659151
23        Minnesota Twins  1455.415892
18      Chicago White Sox  1448.477779
22    St. Louis Cardinals  1445.381654
13          New York Mets  1444.825783
21     Pittsburgh Pirates  1442.735093
9    Washington Nationals  1424.936665
28         Tampa Bay Rays  1423.289281
14   San Francisco Giants  1396.748580
29       Colorado Rockies  1381.679363